<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.czy.dao.JobDao">

    <!-- jobDetail 的resultMap   -->
    <resultMap id="jobMap" type="job">
        <id property="id" column="id"/>
        <result property="companyName" column="companyName"/>
        <result property="jobName" column="jobName"/>
        <result property="jobInfo" column="jobInfo"/>
        <result property="jobAddress" column="jobAddress"/>
        <result property="salary" column="salary"/>
        <result property="jobDescription" column="jobDescription"/>
        <result property="jobCategory" column="jobCategory"/>
        <result property="jobRequire" column="jobRequire"/>
        <result property="postTime" column="postTime"/>
    </resultMap>

    <resultMap id="recordMap" type="record">
        <id property="userId" column="uid"/>
        <id property="jobId" column="jid"/>
        <result property="jobName" column="jobName"/>
        <result property="jobAddress" column="jobAddress"/>
        <result property="companyName" column="companyName"/>
        <result property="deliveryTime" column="deliveryTime"/>
        <result property="evaluationTime" column="evaluationTime"/>
        <result property="interviewTime" column="interviewTime"/>
        <result property="stopTime" column="stopTime"/>
        <result property="offerTime" column="offerTime"/>
    </resultMap>

    <select id="findAllJob" resultMap="jobMap">
        select *
        from job join company on job.companyId = company.id
    </select>

    <select id="findJobByCompany" resultMap="jobMap">
        select * from job join company on job.companyId = company.id where companyId = #{companyId}
    </select>

    <select id="findJobByCompanyNameAndJobCategory" resultMap="jobMap">
        select *
        from job
                 join company on job.companyId = company.id
        where companyName like "%"#{keyword}"%"
        union
        select *
        from job
                 join company on job.companyId = company.id
        where jobCategory like "%"#{keyword}"%"
    </select>

    <select id="findByMultiCondition" resultMap="jobMap">
        select *
        from job join company on job.companyId = company.id
        <where>
            1 = 1
            <if test="loc != null and loc !='' ">
               and jobAddress like "%"#{loc}"%"
            </if>
            <if test="search != null and search !='' ">
                and jobCategory like "%"#{search}"%"
            </if>
            <if test="time != null and time !='' ">
                and postTime like "%"#{time}"%"
            </if>
            <if test="money != null and money !='' ">
                and salary like "%"#{money}"%"
            </if>
        </where>
    </select>
    
    <select id="findRecordByUserId" resultMap="recordMap">
        select *,user.id uid,job.id jid from user join record join job join company on user.id = record.userId and record.jobId = job.id and job.companyId = company.id
        where user.id = #{userId}
    </select>

    <insert id="insertRecord">
        insert into record values (#{userId},#{jobId},null,null,null ,null ,null)
    </insert>

    <insert id="insertJob">
        insert into job values (null ,#{jobName},#{jobInfo},#{jobAddress},#{salary},#{jobDescription},#{jobCategory},
                                #{jobRequire},#{companyId},#{postTime})
    </insert>

    <delete id="deleteJob">
        delete from job where id = #{jobId} and companyId = #{companyId}
    </delete>

</mapper>